{% extends 'HadirApp/base.html' %}

{% block main_content %}

<style>
    footer {
        width: 100%;
        float: inline-end;
        position: fixed;

    }

    .delete {
        color: rgb(187, 35, 35);
        text-decoration: none;
        align-items: center;
        padding-top: 3%;
        user-select: none;
        cursor: pointer;
    }

    p {
        color: #2175ba;
        font-size: 30px;
        font-weight: 700;
    }

    table {

        width: 60%;
        border-collapse: collapse;
        border-spacing: 0;
        box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
        border-radius: 12px 12px 0 0;
        overflow: hidden;
        margin: 5% auto;

    }

    td,
    th {
        padding: 20px 20px;
        text-align: center;
    }

    th {
        background-color: #2175ba;
        color: #fafafa;
        font-family: 'Open Sans', Sans-serif;
        font-weight: 200;
        text-transform: uppercase;
    }

    tr {
        width: 100%;
        background-color: #fafafa;
        font-family: 'Montserrat', sans-serif;
    }

    tr:nth-child(even) {
        background-color: #eeeeee;
    }

    .view a {
        color: #2175ba;
        text-decoration: none;
        align-items: center;
        padding-top: 3%;
    }


    @media(max-width:599px) {
        table {
            width: 40%;

        }

        tr {
            width: 60%;
        }

        td,
        th {
            padding: 14px 3px;
            text-align: center;
            font-size: 0.8rem;
        }
    }
</style>
<p>Welcome {{request.user}}</p> <br>
{% if Delclass %}
<h2>
    class: {{Delclass.name}} Has been deleted succefuly
</h2>
{% endif %}
{% if theClasses %}
<table>
    <tr>
        <th>#</th>
        <th>class</th>
        <th>Class_id</th>
        <th>students</th>
        <th>date</th>
        <th>status</th>
    </tr>
    {% for class in theClasses %}
    <tr>
        <td></td>
        <td class="view"><a href="Classes/{{class.class_name}}-{{class.class_id}}">{{class.class_name}}</a></td>
        <td>{{class.class_id}}</td>
        <td>{{class.num_of_students}}</td>
        <td>{{class.Creation_date.year}}/{{class.Creation_date.month}}/{{class.Creation_date.day}}</td>
        <td> Active</td>
        <!-- <td onclick="pop()" class="delete">
            Classes/{{class.class_name}}-{{class.class_id}}/Delete
        </td> -->
        <!-- <a href="Classes/{{class.class_name}}-{{class.class_id}}/Delete"> Delete</a> -->
        </td>
    </tr>
    </div>



    {% endfor %}
    {% endif %}
</table>
{% if err %}

<h1> {{err}}</h1>
<h2><a href="Create_class">Create Class</a></h2>

{% endif %}

<script>

    const del = document.querySelector(".pup");
    const html = document.querySelector('html');
    const deleteBtn = document.querySelector('.delete');
    const wrapper = document.querySelector('.pup');
    link = wrapper.querySelector('#link');

    function pop() {

        // del.style.display = "flex";
        console.log(deleteBtn.innerText);
        link.href = deleteBtn.innerText;
        // html.style.backgroundColor = " rgb(0, 0, 0)"
        // html.style.opacity = ' 80%'

    }


    deleteBtn.addEventListener('load', () => {

        del.style.display = "flex";
        console.log(deleteBtn.innerText);
        // link.href = deleteBtn.innerText;
        // html.style.backgroundColor = " rgb(0, 0, 0)"
        // html.style.opacity = ' 80%'

    });

    function Delete() {
        del.style.display = "none";
        console.log(`accepted`)
    }

    function cancel() {
        del.style.display = "none";
        console.log(`closed`)
    }

    // link.addEventListener('load', () => {

    //     wrapper.classList.add("active");

    // });

</script>


{% endblock %}