{% extends 'HadirApp/base.html '%}
{% block main_content %}

<style>
    footer {
        position: absolute;
    }

    .container {
        position: fixed;
        left: 50%;
        top: 20%;
        transform: translate(-50%);
    }

    .container h1 {
        color: black;
        font-family: 'Times New Roman', serif;
    }

    .container input {
        margin-top: 15px;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 7px;
    }

    .container #email {
        background-color: #ddd;

    }

    .container #send {
        background-color: #3498db;
        width: 60px;
        color: #fff;
    }

    .container #send:hover {
        background-color: #1b7ec0;
        cursor: pointer
    }
</style>
<div class="container">
    <h1>Restoring your account</h1>
    <form style="margin:50px auto" action="" method="POST">
        {% csrf_token %}
        <label for="email"> Enter Your Email</label>
        <br>
        <input id="email" type="email" name="email" id="email">
        <input id="send" type="submit" value="Send">
    </form>
</div>

{% endblock %}