{% extends 'HadirApp/base.html '%}
{% block main_content %}

<style>
    footer {
        position: absolute;
    }

    .container a {
        display: flex;
        margin: 50px auto;
        text-decoration: none;
        color: #2d8dd2;
        font-size: x-large;
        font-family: cursive;
    }
</style>


<div class="container" style="display: flex; flex-direction: column;">

    <h1 style="margin:50px auto; font-family: 'Times New Roman', Times, serif;"> Password reset sent!</h1>

    <p>We've emailed you instructions for setting your
        password, if an account exists with the email you
        entered. You should receive them shortly.</p>

    <p>If you don't receive an email, please make sure
        you've entered the address you registered with,
        and check your spam folder.</p>

    <a href="/Hadir/login">Login!</a>
</div>


{% endblock %}