{% extends 'HadirApp/base.html '%}
{% load static %}

{% block main_content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<style>
    footer {
        position: absolute;
    }

    .container a {
        display: flex;
        margin: 50px auto;
        text-decoration: none;
        color: #2d8dd2;
        font-size: x-large;
        font-family: cursive;
    }

    .container img {
        margin: auto;
        width: 100px;
    }
</style>


<div class="container" style="display: flex; flex-direction: column;">

    <h1 style="margin:50px auto; font-family: 'Times New Roman', Times, serif;"> Password reset succesfuly!</h1>

    <img src="{% static '/Hadir/media/verify-success-success-tick-icon-with-png-and-vector-format-372259.png' %}"
        alt="">
    <a href="/Hadir/login">Login!</a>
</div>


{% endblock %}