{% extends 'HadirApp/base.html' %}

{% block main_content %}

{% load static %}

<style>
    footer {
        position: absolute;
    }

    .container {
        position: fixed;
        left: 50%;
        top: 20%;
        transform: translate(-50%);
    }

    .container h1 {
        color: black;
        font-family: 'Times New Roman', serif;
    }

    .container input {
        margin-top: 15px;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .container #email {
        background-color: #ddd;

    }

    .container #send {
        background-color: #3498db;
        width: 60px;
        color: #fff;
    }

    .container #send:hover {
        background-color: #1b7ec0;
        cursor: pointer
    }
</style>

<div class="container">

    <h1>Reset Your Password</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="id_new_password1">New password:</label>
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
        <br>
        <label for="id_new_password2">New password confirmation:</label>
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">

        <button class="" type="submit">Reset</button>
    </form>

</div>

{% endblock %}